<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<meta charset="utf-8">
</head>
<body>
	<main>
		<h1 v-show="conectado">Conectado</h1>
		
		<h2 v-if="edad<18">Eres menor de edad!</h2>
		<h2 v-else-if="edad>18 && edad<100">Eres mayor de edad!</h2>
		<h2 v-else>Eres demasiado viejo!</h2>

		<template v-if="conectado">
			<h3>You are connected!</h3>
			<ul>
				<li>option 1</li>
				<li>option 2</li>
			</ul>
		</template>
		<h4 v-else>You are not connected :(</h4>

		<pre>{{ $data }}</pre>
	</main>
	<script type="text/javascript" src="https://unpkg.com/vue@2.3.4"></script>
	<script type="text/javascript">
		const vue=new Vue({
			el:"main",//componente
			data:{
				conectado:true,
				edad:24
			}
		})
	</script>
</body>
</html>